<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SharpSpring" connectionString="BaseUrl=https://api.sharpspring.com/pubapi/v1.2/;AccountId=ACCT;SecretKey=KEY;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>